.nav-main {
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0px 32px;
  margin-left: auto;
  background: transparent;
  width: -webkit-fill-available;
  .nav-left {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 14px;
    .applogo {
      cursor: pointer;
      height: 80px;
      width: 80px;
    }
  }
  .nav-right {
    .right-nav-item {
      cursor: pointer;
    }
  }
}

@media (max-width: 678px) {
  .nav-main {
    .nav-left {
      font-weight: 30;
      font-size: 12px;
      .applogo {
        cursor: pointer;
        height: 28px;
        width: 28px;
      }
    }
    .nav-right {
      .right-nav-item {
        cursor: pointer;
      }
    }
  }
}
