.main {
  background: #000;
  color: #fff;
  position: relative;
  height: 100vh;
  overflow: auto;
  .landing-page-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .custom-slider {
      .slick-track {
        height: 70vh !important;
      }
      .slide-item {
        position: relative;
        cursor: pointer;
        .video-desc {
          position: absolute;
          z-index: 4;
          top: 55%;

          display: flex;
          flex-direction: column;
          gap: 8px;
          text-align: center;
          width: 100vw;
          .video-dec-head {
            font-size: 62px;
          }
          .video-dec-foot {
            font-size: 32px;
          }
        }
      }
      .slick-next {
        right: 25px;
        z-index: 2;
      }
      .slick-prev {
        left: 25px;
        z-index: 2;
        top: 45%;
        rotate: 180deg;
      }
      .slick-dots {
        bottom: 12px;
      }
      .slick-next:before {
        content: url("../images/arrow.svg");
      }
      .slick-prev:before {
        content: url("../images/arrow.svg");
      }
    }
    .landing-page-desc {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      padding: 32px 0px;
      .desc {
        width: 600px;
        text-align: center;
        font-size: 24px;
      }
    }
    .works-one {
      display: flex;
      .works-one-left {
        width: 50vw;
      }
      .works-one-right {
        width: 50vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }
    }
    .reels-header {
      text-align: center;
      padding: 48px 48px 0px 48px;
      font-size: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      .reels-desc {
        font-size: 32px;
        font-weight: 400;
      }
    }
    .works-reels {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8px;
      flex-wrap: wrap;
      gap: 1%;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }

  .client-section {
    padding: 4rem 0px 8rem 0px;
    .client-slider {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 114px 0px 32px 0px;
      .slide-item {
        position: relative;
      }
      .slick-next {
        right: 25px;
        z-index: 2;
      }
      .slick-prev {
        left: 25px;
        z-index: 2;
        top: 45%;
        rotate: 180deg;
      }
      .slick-dots {
        bottom: 12px;
      }
      .slick-next:before {
        content: url("../images/arrow.svg");
      }
      .slick-prev:before {
        content: url("../images/arrow.svg");
      }
      .slick-slide {
        transform: translate(100%, 0);
      }
    }
    .client-header {
      padding: 0px 32px 18px 32px;
      font-size: 48px;
      font-size: 800;
    }
  }
  .show-case {
    padding: 4em 1em;
    text-align: center;
    font-size: 32px;
  }
  .mario-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    .mario-videos-sub {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
}
